[submodule "packages/compose-support"]
	path = packages/compose-support
	url = https://github.com/aem-design/npm-compose-support.git
	branch = master
[submodule "packages/compose-webpack"]
	path = packages/compose-webpack
	url = https://github.com/aem-design/npm-compose-webpack.git
	branch = master
